* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

:root {
	--secondary-text: rgb(186, 186, 186);
}

body {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
	background-color: #2e3e64;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	height: 100%;
	width: 100%;
	max-width: 1500px;
}

header {
	min-height: 100%;
	display: flex;
	align-items: center;
}

header div {
	height: 100%;
	width: 100%;
	font-size: 1.5rem;
}

header div p {
	color: var(--secondary-text);
}

section {
	font-size: 1.3rem;
	padding: 7rem;
}

section p {
	color: var(--secondary-text);
	margin: 2rem 0;
}

#all-about-me {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #223053;
}

#all-about-me img {
	height: 15rem;
	margin: 0 2rem 1rem 2rem;
	border-radius: 10rem 50%;
}
